<refentry id="gnet-server">
<refmeta>
<refentrytitle role="top_of_page">Server</refentrytitle>
<manvolnum>3</manvolnum>
<refmiscinfo>GNET Library</refmiscinfo>
</refmeta>

<refnamediv>
<refname>Server</refname>
<refpurpose>TCP server object</refpurpose>
<!--[<xref linkend="desc" endterm="desc.title"/>]-->
</refnamediv>

<refsynopsisdiv role="synopsis">
<title role="synopsis.title">Synopsis</title>

<synopsis>

#include &lt;gnet.h&gt;


                    <link linkend="GServer">GServer</link>;
<link linkend="void">void</link>                (<link linkend="GServerFunc">*GServerFunc</link>)                      (<link linkend="GServer">GServer</link> *server,
                                                         <link linkend="GConn">GConn</link> *conn,
                                                         <link linkend="gpointer">gpointer</link> user_data);
<link linkend="GServer">GServer</link>*            <link linkend="gnet-server-new">gnet_server_new</link>                     (const <link linkend="GInetAddr">GInetAddr</link> *iface,
                                                         <link linkend="gint">gint</link> port,
                                                         <link linkend="GServerFunc">GServerFunc</link> func,
                                                         <link linkend="gpointer">gpointer</link> user_data);
<link linkend="void">void</link>                <link linkend="gnet-server-delete">gnet_server_delete</link>                  (<link linkend="GServer">GServer</link> *server);
<link linkend="void">void</link>                <link linkend="gnet-server-ref">gnet_server_ref</link>                     (<link linkend="GServer">GServer</link> *server);
<link linkend="void">void</link>                <link linkend="gnet-server-unref">gnet_server_unref</link>                   (<link linkend="GServer">GServer</link> *server);
</synopsis>
</refsynopsisdiv>









<refsect1 role="desc">
<title role="desc.title">Description</title>
<para>
A <link linkend="GServer"><type>GServer</type></link> represents a TCP server.  <link linkend="GServer"><type>GServer</type></link> is a thin wrapper around a
TCP server socket.  To create a new <link linkend="GServer"><type>GServer</type></link>, call <link linkend="gnet-server-new"><function>gnet_server_new()</function></link>.
One of the arguments is a callback function that is called with a new
<link linkend="GConn"><type>GConn</type></link> whenever a new client connects.  Remember to call
<link linkend="gnet-conn-set-callback"><function>gnet_conn_set_callback()</function></link> on the new <link linkend="GConn"><type>GConn</type></link> to set the <link linkend="GConn"><type>GConn</type></link> callback.
To delete a <link linkend="GServer"><type>GServer</type></link>, call <link linkend="gnet-server-delete"><function>gnet_server_delete()</function></link>.
</para>

<para>
See also <link linkend="GConn"><type>GConn</type></link> and the echoserver-gserver example.
</para>
</refsect1>

<refsect1 role="details">
<title role="details.title">Details</title>
<refsect2>
<title><anchor id="GServer" role="struct"/>GServer</title>
<indexterm><primary>GServer</primary></indexterm><programlisting>typedef struct {
  GInetAddr* 	iface;
  gint		port;

  GTcpSocket* 	socket;

  guint 	ref_count;

  GServerFunc	func;
  gpointer	user_data;
} GServer;
</programlisting>
<para>
<link linkend="GServer"><type>GServer</type></link> is a high-level interface to a TCP server socket.  The
 callback is called with a <link linkend="GConn"><type>GConn</type></link> whenever a new connection is
 made.</para>
<para>

</para><variablelist role="struct">
<varlistentry>
<term><link linkend="GInetAddr">GInetAddr</link>&nbsp;*<structfield>iface</structfield>;</term>
<listitem><simpara> interface address
</simpara></listitem>
</varlistentry>
<varlistentry>
<term><link linkend="gint">gint</link>&nbsp;<structfield>port</structfield>;</term>
<listitem><simpara> port number
</simpara></listitem>
</varlistentry>
<varlistentry>
<term><link linkend="GTcpSocket">GTcpSocket</link>&nbsp;*<structfield>socket</structfield>;</term>
<listitem><simpara> TCP server socket
</simpara></listitem>
</varlistentry>
<varlistentry>
<term><link linkend="guint">guint</link>&nbsp;<structfield>ref_count</structfield>;</term>
<listitem><simpara> [private]
</simpara></listitem>
</varlistentry>
<varlistentry>
<term><link linkend="GServerFunc">GServerFunc</link>&nbsp;<structfield>func</structfield>;</term>
<listitem><simpara> callback function
</simpara></listitem>
</varlistentry>
<varlistentry>
<term><link linkend="gpointer">gpointer</link>&nbsp;<structfield>user_data</structfield>;</term>
<listitem><simpara> user data for callback
</simpara></listitem>
</varlistentry>
</variablelist></refsect2>
<refsect2>
<title><anchor id="GServerFunc" role="function"/>GServerFunc ()</title>
<indexterm><primary>GServerFunc</primary></indexterm><programlisting><link linkend="void">void</link>                (*GServerFunc)                      (<link linkend="GServer">GServer</link> *server,
                                                         <link linkend="GConn">GConn</link> *conn,
                                                         <link linkend="gpointer">gpointer</link> user_data);</programlisting>
<para>
Callback for <link linkend="gnet-server-new"><function>gnet_server_new()</function></link>.  When a client connects, this
  callback is called with a new connection.  If the server fails,
  this callback is called with <parameter>conn</parameter> set to NULL.  The callback is
  not called again.
</para>
<para>
  If <parameter>conn</parameter> is non-NULL, the address (IP, port) of the client that
  established the connection can be found in the inetaddr member of
  the <link linkend="GConn"><type>GConn</type></link> structure.</para>
<para>

</para><variablelist role="params">
<varlistentry><term><parameter>server</parameter>&nbsp;:</term>
<listitem><simpara> server
</simpara></listitem></varlistentry>
<varlistentry><term><parameter>conn</parameter>&nbsp;:</term>
<listitem><simpara> new connection (or NULL if error)
</simpara></listitem></varlistentry>
<varlistentry><term><parameter>user_data</parameter>&nbsp;:</term>
<listitem><simpara> user data specified in <link linkend="gnet-server-new"><function>gnet_server_new()</function></link>
</simpara></listitem></varlistentry>
</variablelist></refsect2>
<refsect2>
<title><anchor id="gnet-server-new" role="function"/>gnet_server_new ()</title>
<indexterm><primary>gnet_server_new</primary></indexterm><programlisting><link linkend="GServer">GServer</link>*            gnet_server_new                     (const <link linkend="GInetAddr">GInetAddr</link> *iface,
                                                         <link linkend="gint">gint</link> port,
                                                         <link linkend="GServerFunc">GServerFunc</link> func,
                                                         <link linkend="gpointer">gpointer</link> user_data);</programlisting>
<para>
Creates a new <link linkend="GServer"><type>GServer</type></link> object representing a server.  Usually,
 <parameter>iface</parameter> is set to NULL to bind to all interfaces and <parameter>port</parameter> is a
 specific number.  The callback is called whenever a new connection
 arrives or if there is a server error.  The callback is not called
 again after a server error.</para>
<para>

</para><variablelist role="params">
<varlistentry><term><parameter>iface</parameter>&nbsp;:</term>
<listitem><simpara> interface to bind to (NULL for all interfaces)
</simpara></listitem></varlistentry>
<varlistentry><term><parameter>port</parameter>&nbsp;:</term>
<listitem><simpara> port to bind to (0 for an arbitrary port)
</simpara></listitem></varlistentry>
<varlistentry><term><parameter>func</parameter>&nbsp;:</term>
<listitem><simpara> callback to call when a connection is accepted
</simpara></listitem></varlistentry>
<varlistentry><term><parameter>user_data</parameter>&nbsp;:</term>
<listitem><simpara> data to pass to callback
</simpara></listitem></varlistentry>
<varlistentry><term><emphasis>Returns</emphasis>&nbsp;:</term><listitem><simpara> a new <link linkend="GServer"><type>GServer</type></link>.

</simpara></listitem></varlistentry>
</variablelist></refsect2>
<refsect2>
<title><anchor id="gnet-server-delete" role="function"/>gnet_server_delete ()</title>
<indexterm><primary>gnet_server_delete</primary></indexterm><programlisting><link linkend="void">void</link>                gnet_server_delete                  (<link linkend="GServer">GServer</link> *server);</programlisting>
<para>
Closes and deletes a <link linkend="GServer"><type>GServer</type></link>.</para>
<para>

</para><variablelist role="params">
<varlistentry><term><parameter>server</parameter>&nbsp;:</term>
<listitem><simpara> <link linkend="GServer"><type>GServer</type></link> to delete.
</simpara></listitem></varlistentry>
</variablelist></refsect2>
<refsect2>
<title><anchor id="gnet-server-ref" role="function"/>gnet_server_ref ()</title>
<indexterm><primary>gnet_server_ref</primary></indexterm><programlisting><link linkend="void">void</link>                gnet_server_ref                     (<link linkend="GServer">GServer</link> *server);</programlisting>
<para>
Adds a reference to a <link linkend="GServer"><type>GServer</type></link>.</para>
<para>

</para><variablelist role="params">
<varlistentry><term><parameter>server</parameter>&nbsp;:</term>
<listitem><simpara> a <link linkend="GServer"><type>GServer</type></link>
</simpara></listitem></varlistentry>
</variablelist></refsect2>
<refsect2>
<title><anchor id="gnet-server-unref" role="function"/>gnet_server_unref ()</title>
<indexterm><primary>gnet_server_unref</primary></indexterm><programlisting><link linkend="void">void</link>                gnet_server_unref                   (<link linkend="GServer">GServer</link> *server);</programlisting>
<para>
Removes a reference from a <link linkend="GServer"><type>GServer</type></link>.  A <link linkend="GServer"><type>GServer</type></link> is deleted when
 the reference count reaches 0.</para>
<para>

</para><variablelist role="params">
<varlistentry><term><parameter>server</parameter>&nbsp;:</term>
<listitem><simpara> a <link linkend="GServer"><type>GServer</type></link>
</simpara></listitem></varlistentry>
</variablelist></refsect2>

</refsect1>




</refentry>
